body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #fd4b1e, #fa974c);
    color: white;
    text-align: center;
  }
  
  .container, .convite {
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    background: #ff6741;
    transition: background 0.3s;
  }
  
  button:hover {
    background: #feb47b;
  }
  
  .oculto {
    display: none;
  }
  .botoes {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
  }
  
  button:disabled {
    background: grey;
    cursor: not-allowed;
  }  
